@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

body,
html {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: sticky;
  background-color: black;
  width: 100%;
  height: 6.5em;
  padding-left: 10px;
  display: flex;
  top: 0;
  opacity: 0.9;
  z-index: 99;
}

.logo-icon {
  width: 5em;
  height: 5em;
  padding: 10px;
  margin-right: 20px;
}

.logo-name {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 35px;
  margin: 0;
  margin-top: 7px;
}

.navli {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

.nav-line {
  color: rgba(240, 248, 255, 0.913);
}

.img-headerback {
  width: 100%;
  height: 40em;
  object-fit: cover;
  position: relative;
}

.img-box {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
}

.img-box .text-header {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.6);
  width: 80%;
}

.from-box {
  text-align: center;
  width: 80em;
  background-color: rgb(205, 203, 203);
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5em;
}

.service {
  width: 50em;
  /* margin-left: 20em; */
}
.service-box {
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.service-group {
  display: flex;
}

.service-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.slideshow-container {
  max-width: 50%;
  position: relative;
}

.slide {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  margin-left: 953px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  opacity: 0.3;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.bedtype-group {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 62em;
}

.bedtype-infogroup {
  display: flex;
  flex-direction: column;
}

.bedtype-info {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  color: rgb(33, 32, 32);
}

.bedtype-icon {
  height: 40px;
  width: 40px;
  align-self: center;
  margin-right: 20px;
}

.font {
  font-family: "IBM Plex Sans", sans-serif;
}

footer {
  background-color: black;
  /* height: 10em; */
}

.footer {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.footer-font {
  color: white;
  margin: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icon-group {
  display: flex;
  justify-content: center;
}

.footer-icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.footer-id {
  display: flex;
  flex-direction: row;
}

.book-detail {
  font-family: "IBM Plex Sans", sans-serif;
}

.book-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-box:hover {
  background-color: black;
  color: white;
}

.book-btn {
  background-color: white;
  border-radius: 1em;
  width: 15em;
  border-style: solid;
}

a {
  text-decoration: none;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1.5em;
}

.img-new {
  height: 42em;
  filter: brightness(50%);
  position: relative;
}

.book-header {
  color: white;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

.grid-book {
  display: grid;
  grid-template-columns: 35% 35%;
  row-gap: 1em;
  column-gap: 1em;
  justify-content: center;
}

.book-subtitle {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

.book-input-box {
  width: 15em;
  height: 2.5em;
}

.book-input-box-num {
  width: 5em;
  height: 2.5em;
}

.next-btn {
  background-color: white;
  border-radius: 1em;
  width: 10em;
  border-style: solid;
}

.next-btn:hover {
  background-color: black;
  color: white;
}

.back-btn {
  background-color: black;
  border-radius: 1em;
  width: 10em;
  border-style: solid;
  color: white;
}

.back-btn:hover {
  background-color: white;
  color: black;
}

.book-icon {
  width: 3.5em;
  align-self: center;
}

.book-lefthand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  margin-top: 3.5em;
}

.grid-lefthand {
  display: grid;
  grid-template-columns: 20% 70%;
  row-gap: 1em;
  column-gap: 1.5em;
  justify-content: center;
}

.text-lefthand {
  color: white;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

.text-lefthand-inactive {
  color: gray;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

.shape-icon {
  width: 25px;
  align-self: center;
}

.line {
  position: absolute;
  width: 4px;
  height: 36%;
  background-color: white;
  z-index: 2;
  left: 7.2em;
  top: 15em;
}

.grid-book-page3 {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-auto-rows: 18%;
  row-gap: 1em;
  column-gap: 1em;
  justify-content: center;
}

.btn {
  bottom: 0;
}

h3.book-subtitle {
  margin: 0;
}

.align-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box-admin {
  width: 15em;
  height: 3em;
  margin: 1em;
}

.text-admin {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

.admin-nav {
  width: 100%;
  background-color: black;
  height: 5em;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

.admin-grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.admin-lefthand {
  width: 100%;
  color: black;
  border-color: black;
  border-style: solid;
  border-top: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
}

.admin-lefthand:hover {
  background-color: black;
  color: white;
}

.admin-lefthand-active {
  width: 100%;
  color: white;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-top: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
}

.admin-right {
  width: 100%;
  color: black;
  border-color: black;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

table {
  font-family: "IBM Plex Sans", sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.admin-grid-reser {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 1em;
}

.admin-grid-pay {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  column-gap: 1em;
}

.small-width{
  width: 13em;
}